# Minimal defconfig for Little-64 architecture

CONFIG_LITTLE64=y
CONFIG_64BIT=y
CONFIG_MMU=y
CONFIG_OF=y
CONFIG_OF_EARLY_FLATTREE=y
CONFIG_GENERIC_BUILTIN_DTB=y
CONFIG_BUILTIN_DTB=y
CONFIG_BUILTIN_DTB_NAME="little64"

# Serial console
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_OF_PLATFORM=y
CONFIG_SERIAL_8250_NR_UARTS=4
CONFIG_CONSOLE_LOGLEVEL_DEFAULT=8

# Kernel features
CONFIG_PRINTK=y
CONFIG_BLOCK=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_LITTLE64_PVBLK=y
CONFIG_EXT2_FS=y
CONFIG_EMBEDDED=y
CONFIG_EXPERT=y
# CONFIG_UNIX98_PTYS is not set
# CONFIG_LEGACY_PTYS is not set

# IRQs
CONFIG_GENERIC_IRQ_CHIP=y
CONFIG_SPARSE_IRQ=y
CONFIG_IRQ_DOMAIN=y

# Time/clock
CONFIG_GENERIC_CLOCKEVENTS_BROADCAST=y
CONFIG_COMMON_CLK=y
CONFIG_NO_HZ=y
CONFIG_NO_HZ_IDLE=y
CONFIG_HZ_250=y
CONFIG_HZ=250

# Device tree
CONFIG_OF_ADDRESS=y
CONFIG_OF_PLATFORM=y

# Root disk exposure
CONFIG_DEVTMPFS=y

# ELF
CONFIG_MODULES_USE_ELF_RELA=y

# Paging
CONFIG_PGTABLE_LEVELS=3

# Misc
CONFIG_NO_IOPORT_MAP=y
CONFIG_GENERIC_IOREMAP=y
CONFIG_GENERIC_CSUM=y
